<?xml version="1.0" encoding="UTF-8"?>

<!-- ========================================================================
  == DISCLAIMER:
  ==    This script is provided for educational purposes only. It is NOT
  ==    supported by Oracle World Wide Technical Support.
  ==    The script has been tested and appears to work as intended.
  ==    You should always run new scripts on a test instance initially.
  ==
  ======================================================================== -->

<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
</beans>
